# Trouver l'elfe malveillant

Ce notebook t'accompagne pour enquÃªter dans la base SQLite **`elf_challenge.db`**.
Ton objectif : **identifier l'elfe malveillant**, dÃ©montrer la preuve avec **au moins 2 requÃªtes** et proposer **1 mesure corrective**.

**Tables** : `person`, `gift`, `transactions`, `access_log`.

---
**Conseil** : travaille par hypothÃ¨ses, note tes trouvailles, et corrÃ¨le les logs d'accÃ¨s avec les transactions autour d'horaires atypiques.

## 1) PrÃ©paration de l'environnement

- On va utiliser `sqlite3` et `pandas`.
- La cellule ci-dessous **vÃ©rifie** que la base `elf_challenge.db` existe.

In [ ]:
import os, sqlite3, random
from datetime import datetime, timedelta
import pandas as pd

DB_PATH = "elf_challenge.db"

def ensure_db(db_path: str):
    if os.path.exists(db_path):
        print("âœ” Base SQLite trouvÃ©e :", db_path)
        return
    
    print("âš  Base absente...", db_path)
   
ensure_db(DB_PATH)

## 2) Connexion & aperÃ§u du schÃ©ma

In [ ]:
import sqlite3, pandas as pd
conn = sqlite3.connect(DB_PATH)

# Compter les lignes par table
q = (
    "SELECT 'person' as table_name, COUNT(*) as count FROM person "
    "UNION ALL SELECT 'gift', COUNT(*) FROM gift "
    "UNION ALL SELECT 'transactions', COUNT(*) FROM transactions "
    "UNION ALL SELECT 'access_log', COUNT(*) FROM access_log;"
)
pd.read_sql_query(q, conn)

In [ ]:
# AperÃ§u des colonnes de chaque table (pragma)
tables = ['person','gift','transactions','access_log']
for t in tables:
    df = pd.read_sql_query(f"PRAGMA table_info({t});", conn)
    print(f"\n-- {t} --")
    display(df)

## 3) Ã‰chauffement â€” requÃªtes simples

1. **Lister** les personnes avec leur rÃ´le.  
2. **Compter** combien de cadeaux par statut (`status`).  
3. **Top** 10 transactions les plus rÃ©centes (avec nom de l'acteur).

In [ ]:
# 1) Personnes / rÃ´les
pd.read_sql_query("""
SELECT person_id, full_name, role
FROM person
ORDER BY role, full_name;
""", conn)

In [ ]:
# 2) Cadeaux par statut
pd.read_sql_query("""
SELECT status, COUNT(*) as nb
FROM gift
GROUP BY status
ORDER BY nb DESC;
""", conn)

In [ ]:
# 3) Top 10 transactions rÃ©centes
pd.read_sql_query("""
SELECT t.tx_id, t.gift_id, p.full_name AS actor, t.action, t.details, t.tx_ts
FROM transactions t
JOIN person p ON p.person_id = t.actor_id
ORDER BY t.tx_ts DESC
LIMIT 10;
""", conn)

## 4) Investigation â€” pistes guidÃ©es

### 4.1 Actions nocturnes (00:00â€“05:00)
- Qui agit la nuit ?
- Y aâ€‘tâ€‘il des **elfes** dans la liste ?

In [ ]:
pd.read_sql_query("""
SELECT p.person_id, p.full_name, a.ts, a.action
FROM access_log a
JOIN person p ON p.person_id = a.person_id
WHERE time(a.ts) BETWEEN '00:00:00' AND '05:00:00'
ORDER BY a.ts;
""", conn)

### 4.2 Transactions suspectes (emoji ðŸ§, 'missing')
- Chercher des **indices textuels**.

In [ ]:
pd.read_sql_query("""
SELECT t.tx_id, t.gift_id, t.actor_id, p.full_name, t.action, t.details, t.tx_ts
FROM transactions t
JOIN person p ON p.person_id = t.actor_id
WHERE t.details LIKE '%ðŸ§%' OR t.details LIKE '%missing%'
ORDER BY t.tx_ts DESC;
""", conn)

### 4.3 IPs & devices partagÃ©s
- Plusieurs comptes depuis la **mÃªme IP / device** ?

In [ ]:
pd.read_sql_query("""
SELECT ip_addr, device, COUNT(DISTINCT person_id) as nb_accounts,
       GROUP_CONCAT(DISTINCT person_id) as person_ids
FROM access_log
GROUP BY ip_addr, device
HAVING nb_accounts > 1
ORDER BY nb_accounts DESC;
""", conn)

### 4.4 CorrÃ©lation `transactions` â†” `access_log` (Â± 2 minutes)
- Valider qu'une action a eu lieu **pendant une session** donnÃ©e.

In [ ]:
pd.read_sql_query("""
SELECT t.tx_id, t.gift_id, t.actor_id, p.full_name as actor, t.details, t.tx_ts,
       a.log_id, a.person_id, a.ip_addr, a.device, a.location, a.action as access_action, a.ts as access_ts
FROM transactions t
JOIN person p ON p.person_id = t.actor_id
LEFT JOIN access_log a
  ON a.person_id = t.actor_id
 AND ABS(strftime('%s', t.tx_ts) - strftime('%s', a.ts)) <= 120
WHERE t.details LIKE '%missing%'
ORDER BY t.tx_ts DESC
LIMIT 50;
""", conn)

## 5) Ton enquÃªte â€” espace de travail

Utilise les cellules ciâ€‘dessous pour :  
- Formuler tes hypothÃ¨ses
- Tester tes requÃªtes
- Consolider la **preuve** (au moins 2 requÃªtes pertinentes)

In [ ]:
# Ã‰cris ici ta/tes requÃªte(s) libre(s)

In [ ]:
# Encore de l'espace pour expÃ©rimenter

## 6) Conclusion â€” Rapport court

- **Elfe malveillant identifiÃ©** : `person_id = ...`, `full_name = ...`  
- **Preuve 1 (requÃªte + interprÃ©tation)** :  
- **Preuve 2 (requÃªte + interprÃ©tation)** :